<header>
  <h3>
    Portfolio
  </h3>
</header>

<md-grid-list cols="3" >

  <md-grid-tile *ngFor="let d of data, let even = even, let odd = odd"
                [routerLink]="d.id"
                class="portfolio-image-container {{ d.id }}" [ngClass]="{'even': even, 'odd': odd}">
    <img *ngIf="d.mainImage" class="portfolio-cover-image" src="{{ d.mainImage }}" alt="image of {{ d.title }}">
    <md-grid-tile-footer>
      {{ d.title }}
    </md-grid-tile-footer>
  </md-grid-tile>

</md-grid-list>
