<md-sidenav-layout fullscreen>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Lauriane Kayungu</span>
    <span class="toolbar-spacer"></span>
    <div class="button-row">
      <button md-button *ngFor="let view of views"
              [routerLink]="view.link"
              routerLinkActive="active-link">
        {{ view.name }}
      </button>
      <a md-button href="//uk.linkedin.com/in/laurianek">LinkedIn</a>
      <a md-button href="//twitter.com/kida_1818">Twitter</a>
    </div>
  </md-toolbar>

  <md-card id="my-page-card">
    <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
  </md-card>

</md-sidenav-layout>
<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
