<md-toolbar color="primary">
  <span>Lauriane Kayungu</span>
  <span class="toolbar-spacer"></span>
  <div class="button-row toolbar-header-btn-row">
    <button md-button *ngFor="let view of views"
            [routerLink]="view.link"
            routerLinkActive="active-link">
      {{ view.name }}
    </button>
    <a md-button href="//uk.linkedin.com/in/laurianek">LinkedIn</a>
    <a md-button href="//twitter.com/kida_1818">Twitter</a>
  </div>
</md-toolbar>

<md-card id="my-page-card">
  <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
</md-card>

<footer>
  Copyrights ©{{ year() }}. lauriane.kayngu.me. All Rights Reserved.
</footer>
<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
