<md-card class="portfolio-item">

  <header>
    <h3>
      {{ portfolio.title }}
    </h3>
  </header>

  <div class="image-container" md-card-image>
    <img class="portfolio-cover-image" src="{{ i }}" alt="portfolio image - {{ portfolio.title }}" *ngFor="let i of portfolio.otherImages">
  </div>

  <section *ngFor="let p of portfolio.paragraphs">
    <h4 *ngIf="p.title">{{ p.title }}</h4>
    <p>{{ p.text }}</p>
    <ul *ngIf="p.list" >
      <li *ngFor="let item of p.list"> {{ item }} </li>
    </ul>
  </section>

</md-card>
