.portfolio-item {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.site-link {
  margin-bottom: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

section {
  margin-bottom: 1em;
}
