.portfolio-cover-image {
  width: 100%;
}

.midrive-theory,
.midrive-concierge {
  background-color: lighten(#54c6ea, 20%);
}

.virgin-media,
.tv-anywhere{
  background-color: lighten(red, 20%);
}

.ohayou{}
.travellers-japanese{}
.constant-commerce{}
.lendable{}
.hairbook{}
